// Elements
.all_reg_log_input {
  width: 100%;
  height: 45px;
  background: #f9fafb;
  border: 1px solid #dedee0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-bottom: 14px;
  padding: 12px;
  @include desktop {
    width: 377px;
    height: 58px;
    background: #f9fafb;
    border: 1px solid #dedee0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-bottom: 14px;
    padding: 12px;
  }
}
.input-add_card {
  width: 100%;
  height: 45px;
  background: #f9fafb;
  border: 1px solid #dedee0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-bottom: 14px;
  padding: 12px;

  @include desktop {
    min-width: 664px;
    min-height: 58px;
  }
}
.input_erorr {
  border: 1px solid #ff2929;
}
.input_title {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #303030;
}
.form-button {
  display: inline-block;
  width: 100%;
  height: 45px;
  background: #349a89;
  border-radius: 5px;
  padding: 12px;

  box-sizing: border-box;
  text-align: center;
  margin-top: 18px;
  color: #ffffff;

  @include desktop {
    cursor: pointer;
    width: 377px;
    height: 58px;
    padding: 20px;
  }
}
.reg_log-link {
  color: #349a89;
  text-transform: uppercase;
}

.section_menu-btn {
  @include tablet {
    display: none;
  }

  .menu-btn {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    // background: $green;
    border-radius: 50%;

    span {
      position: absolute;
      top: 19px;
      left: 10px;
      width: 25px;
      height: 2px;
      background: #ffffff;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background: #ffffff;
        transition: 0.2s;
      }

      &:before {
        transform: translateY(-5px);
      }

      &:after {
        transform: translateY(5px);
      }
    }

    &.active {
      span {
        height: 0;
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// Components
.v-page-header_container {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
  overflow: hidden;
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .v-page-header_top-parts {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @include desktop {
      display: flex;
      justify-content: space-between;
      width: 1088px;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .v-page-header_logo {
      background-image: url(/img/Logofull.png);

      width: 102px;
      height: 42px;
    }
  }

  .right_part {
    background: #0c0a18;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(400px);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    @include desktop {
      background: none;
      position: relative;
      top: 0;
      right: 0;
      width: 0;
      height: 50px;
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transition: 2 ease;
      transform: none;
    }
    .add {
      padding: 5px 20px;
      border-radius: 4px;
      background: #349a89;
      text-transform: uppercase;
      margin-right: 30px;
      @include desktop {
        padding: 5px 45px;
        font-size: 14px;
        margin-right: 32px;
      }
    }
    .login {
      font-size: 12px;
      text-transform: uppercase;
      @include desktop {
        margin-right: 32px;
      }
    }
    .user_ico-wraper {
      position: relative;
      .user_ico {
        height: 30px;
        width: 30px;
        margin-right: 20px;
        color: #ffffff;
        text-transform: uppercase;
        background: #ffa600;
        font-size: 14px;
        text-align: center;
        padding-top: 4px;
        box-sizing: border-box;
        border-radius: 20px;

        @include desktop {
          cursor: pointer;
          height: 35px;
          width: 35px;
          padding-top: 7px;
          font-size: 16px;
          margin-right: 32px;
        }
      }

      &:hover {
        .user_drop_menu {
          opacity: 1;
          visibility: visible;
          transform: none;
          // box-shadow: 0px 1px 20px #349a89be;
        }
      }

      .user_drop_menu {
        position: absolute;
        top: 110%;
        left: -70px;
        background-color: #ffffff;
        border: 1px solid #dfdfdf;
        min-width: 100%;
        box-shadow: 0px 1px 0px #349a89be;
        box-sizing: border-box;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.2s ease;
        padding: 5px;
        text-align: center;
        @include desktop {
          top: 40px;
          left: 0;
          padding: 10px;
        }
        .user_drop_menu-name {
          display: inline-block;
          padding: 2px;
          background: #f9fafb;
          border: 1px solid #dedee0;
          box-sizing: border-box;
          border-radius: 5px;
          font-size: 14px;
          margin-bottom: 10px;
          @include desktop {
            padding: 5px;
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        .user_drop_menu-logout_button {
          padding: 5px 15px;
          border-radius: 4px;
          background: #349a89;
          text-transform: uppercase;
          font-size: 14px;
          color: #ffffff;
          margin-bottom: 10px;
          cursor: pointer;
          @include desktop {
          }
        }
      }
    }

    .like_container {
      position: relative;
      width: 35px;
      height: 35px;
      margin-right: 20px;
      .like_filter {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        padding: 4px 3.4px;
        box-sizing: border-box;
        transition: 0.5s;
        stroke: #ffffff;
        stroke-width: 10;

        &:hover {
          fill: #349a89;
          stroke: #349a89;
          stroke-width: 5;
        }
      }
      .like_input {
        display: none;
        &:checked + .like_filter {
          fill: #349a89;
          stroke: #349a89;
          stroke-width: 5;
        }
      }
      @include desktop {
        cursor: pointer;
      }
    }
  }
  .v-page-header_bottom-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    @include desktop {
      flex-direction: row;
      margin-top: 15px;
    }

    // display: none;
    .search_by_name {
      border-radius: 4px;
      width: 100%;
      height: 40px;
      background-image: url(../img/search-solid.svg);
      background-repeat: no-repeat;
      background-position: 20px;
      background-size: auto 30%;
      outline: none;
      padding-left: 50px;
      box-sizing: border-box;
      margin-bottom: 5px;
      font-size: 15px;
      @include desktop {
        width: 467px;
        height: 50px;
        margin-right: 7px;
        margin-bottom: 0;
      }
    }
    .search_by_position {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-image: url(../img/map-marker-alt-solid.svg);
      background-repeat: no-repeat;
      background-position: 20px;
      background-size: auto 30%;
      box-sizing: border-box;
      outline: none;
      padding-left: 50px;
      margin-bottom: 10px;
      font-size: 15px;

      @include desktop {
        width: 198px;
        height: 50px;
        margin-right: 7px;
        margin-bottom: 0;
      }
    }
    .search_button {
      display: inline-block;
      padding: 16px 59px;
      border-radius: 4px;
      background: #3e3961;
      cursor: pointer;
      font-size: 15px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &-guest {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    background: #f2f2f2;
    overflow: hidden;
    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .v-page-header_top-parts {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      @include desktop {
        display: flex;
        justify-content: space-between;
        width: 1088px;
        margin-top: 20px;
        margin-bottom: 15px;
      }

      .v-page-header_logo {
        background-image: url(../img/Logofull_black.png);
        width: 102px;
        height: 42px;
      }
      .right_part {
        display: flex;
        align-items: center;

        .login {
          font-size: 12px;
          margin-right: 32px;
          text-transform: uppercase;
          color: #2b2b2b;
        }
      }
    }
  }
}

.v-item_cards {
  // position: relative;
  height: 100%;
  background: #f8f8f8;
  .item_cards-filters {
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.217111);
    padding: 12px;
    border-radius: 4px;
    margin-top: 19px;
    @include desktop {
      display: flex;
      align-items: center;
    }

    input {
      background: #f9fafb;
      border: 1px solid #dedee0;
      box-sizing: border-box;
      border-radius: 5px;
    }

    .filters-category_drop_list {
      position: relative;
      .category_input {
        width: 100%;
        height: 35px;
        background-image: url(../img/th-large-solid.svg);
        background-repeat: no-repeat;
        background-position: 10px;
        background-size: auto 50%;
        outline: none;
        padding-left: 40px;
        font-size: 14px;
        @include desktop {
          width: 285px;
          height: 35px;
          // margin-right: 23px;
        }
      }

      .category_list {
        position: absolute;
        top: 100%;
        left: 0;
        background: #f9fafb;
        border: 1px solid #dedee0;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        max-height: 300px;
        overflow-y: auto;
        z-index: 999;
        &.active {
          opacity: 1;
          visibility: visible;
          transform: none;
        }

        .list-items {
          padding: 5px 0;
          .item {
            cursor: pointer;
            padding: 5px 15px;
            &:hover {
              background: #dddddd;
            }
          }
        }
      }
    }

    .filter_by_price_wraper {
      display: flex;
      align-items: center;
      margin-top: 10px;

      @include desktop {
        margin-top: 0;
        margin-left: 23px;
      }
      .filters-price {
        width: 143px;
        height: 35px;
        padding: 8px;
        font-size: 14px;
        color: #505050;
      }
      .filter_line {
        width: 12px;
        height: 1px;
        border: 1px solid #dedee0;
        margin: 0 7px;
      }
    }
  }
  .cards_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    @include desktop {
    }

    .card_item {
      @include mobile {
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @include desktop {
        &:nth-child(4n) {
          margin-right: 0;
        }
        max-width: 212px;
        max-height: 209px;
        margin-bottom: 13px;
        margin-right: 5px;
      }

      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 165px;
      max-height: 160px;
      padding: 3px;
      margin-right: 8px;
      background: #ffffff;
      border: 1px solid #e4e4e4;
      box-sizing: border-box;
      box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
      border-radius: 4px;
      margin-bottom: 8px;

      .card_item-img {
        width: 155px;
        height: 100px;
        border-radius: 4px 4px 0px 0px;
        @include desktop {
          width: 202px;
          height: 148px;
        }
      }
      .card_item-title {
        font-size: 15px;
        color: #373738;
        margin: 6px 9px;
      }
      .card_item-price {
        font-size: 18px;
        font-weight: bold;
        color: #101010;
        margin: 0 9px;
      }
      .card_item-like {
        position: absolute;
        display: inline-block;
        top: 88px;
        left: 120px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 2px 4px #0000002a;
        padding: 4px 3.4px;
        box-sizing: border-box;
        transition: 0.5s;
        fill: #ffffff;
        stroke: #b7b7b7;
        stroke-width: 10;
        cursor: pointer;

        vertical-align: middle;

        @include desktop {
          top: 135px;
          left: 165px;
          width: 30px;
          height: 30px;
        }
        &:hover {
          fill: #349a89;
          stroke: #349a89;
          stroke-width: 5;
        }
        &.isLiked {
          fill: #349a89;
          stroke: #349a89;
          stroke-width: 5;
        }
      }
    }
  }
}

.v-reg-log-container {
  background: #f2f2f2;
  height: 100vh;
  .form_wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
      margin-top: 100px;
    }
    .registration_form {
      padding: 24px;
      width: 100%;
      height: 465px;
      background: #ffffff;
      box-sizing: border-box;
      margin-bottom: 24px;

      @include desktop {
        padding: 24px;
        width: 425px;
        height: 550px;
        border-radius: 7px;
        box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
      }
      .form_title {
        font-family: Helvetica;
        font-size: 22px;
        line-height: 25px;
        color: #282828;
        text-align: center;
        margin-bottom: 20px;

        @include desktop {
          margin-bottom: 32px;
        }
      }
    }

    .login_form {
      padding: 24px;
      width: 100%;
      height: 325px;
      background: #ffffff;
      box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
      border-radius: 7px;
      box-sizing: border-box;
      margin-bottom: 24px;
      @include desktop {
        padding: 24px;
        width: 425px;
        height: 365px;
        border-radius: 7px;
        box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
      }
      .form_title {
        font-family: Helvetica;
        font-size: 22px;
        line-height: 25px;
        color: #282828;
        text-align: center;
        margin-bottom: 20px;

        @include desktop {
          margin-bottom: 32px;
        }
      }
    }

    .for-log_in,
    .for-register {
      width: 100%;
      height: 55px;
      background: #ffffff;
      box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
      border-radius: 7px;
      padding: 20px;
      text-align: center;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 16px;

      @include desktop {
        width: 425px;
        height: 76px;
        background: #ffffff;
        box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
        border-radius: 7px;
        padding: 30px;
        text-align: center;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.add_card_container {
  background: #f2f2f2;
  height: 880px;
  @include desktop {
    height: auto;
  }


  .add_card-form {
    display: flex;
    flex-direction: column;

    background: #ffffff;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    max-width: 100%;
    max-height: auto;
    margin: 20px auto;
    padding: 25px 15px;
    box-sizing: border-box;

    @include desktop {
      align-items: center;
      max-width: 1136px;
      max-height: 874px;
      margin: 25px auto;
      padding: 25px 236px;
    }
    .form_title {
      font-family: Helvetica;
      font-size: 22px;
      line-height: 25px;
      color: #282828;
      text-align: center;
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 25px;
      }
    }
    .add_card-form_description {
      min-width: 100%;
      min-height: 183px;
      background: #f9fafb;
      border: 1px solid #dedee0;
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
      font-size: 16px;
      margin-bottom: 14px;
      // padding: 12px;

      @include desktop {
        min-width: 664px;
        min-height: 183px;
      }
    }
    .add_card-form_images {
      position: relative;
      display: flex;
      align-items: center;
      min-width: 100%;
      min-height: 124px;
      background: #f9fafb;
      border: 1px solid #dedee0;
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
      margin-bottom: 15px;

      @include desktop {
        min-width: 664px;
        min-height: 124px;
      }
      .addButton {
        display: inline-block;
        width: 92px;
        height: 92px;
        background: #e4e4e4;
        border-radius: 4px;
        padding: 25px;
        box-sizing: border-box;
        margin: 0 16px;
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
        }
      }

      .imgAdder {
        position: absolute;
        top: -900px;
      }
      .selected_img {
        position: relative;
        width: 92px;
        height: 92px;
        background: #e4e4e4;
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        margin: 0 16px;
        img {
          width: 84px;
          height: 84px;
          border-radius: 4px;
        }
        .delete_button {
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          opacity: 0;
          box-sizing: border-box;
          padding: 35px 15px;
          background: #ff0800;
          cursor: pointer;
          transition: all 0.5s ease;
        }
        &:hover {
          .delete_button {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
// Sections

.content_data {
  position: relative;
  height: 100vh;
}

//modefication classes
